body {
  font-family: 'Poppins';
  font-size: 20px;
  color: white;
  overflow-x: hidden;
}

@media (max-width: 767px) {
  body.menuopen {
    overflow: hidden;
  }
  body.menuopen #mainNav, body.menuopen #navbarResponsive {
    background: #241332;
    z-index: 1;
  }
  body.menuopen .navbar-toggler {
    background-image: url("../img/buttons/ico_menuclose.png");
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Anton';
}

section {
  padding: 20px 0;
}

h2 {
  font-size: 1.8em;
  line-height: 1.15;
  margin-bottom: 1.11em;
  padding-top: 0.55em;
}

h3 {
  font-size: 20px;
  margin: 0;
}

.media h3 a {
  font-family: 'Anton';
  font-size: 20px;
  text-transform: uppercase;
  -webkit-text-stroke: 1px #241332;
  color: #ffffff;
}

.media h3 a:hover {
  color: #ff9f6c;
}

.scroll-to-top {
  z-index: 1042;
  right: 1rem;
  bottom: 1rem;
  display: none;
}

.scroll-to-top a {
  width: 3.5rem;
  height: 3.5rem;
  background-color: transparent;
  line-height: 3.1rem;
}

small {
  font-size: 0.75em;
}

.facebook-link {
  display: inline-block;
  width: 36px;
  height: 36px;
  background-color: #241333;
  border: 1px solid #ff9f6c;
  border-radius: 50% !important;
}

.facebook-button-link {
  display: inline-block;
  width: 280px;
  height: 150px;
  color: transparent !important;
  background: url("../img/buttons/ico_fb2.png") no-repeat;
  background-size: contain;
}

.navbar-toggler {
  display: inline-block;
  width: 36px;
  height: 36px;
  color: transparent !important;
  -webkit-text-stroke: 0;
  background: url("../img/buttons/ico_menu.png") no-repeat;
  background-size: contain;
}

#mainNav {
  position: relative;
  padding-top: 20px;
  padding-bottom: 0;
  font-family: 'Anton';
  font-size: 24px;
  -webkit-text-stroke: 2px #241332;
  display: flex;
}

#mainNav .navbar-nav li.nav-item a.nav-link {
  color: #fff;
}

#mainNav .navbar-nav li.nav-item a.nav-link:hover {
  color: #ff9f6c;
}

#mainNav .navbar-nav li.nav-item a.nav-link:active, #mainNav .navbar-nav li.nav-item a.nav-link:focus {
  color: #fff;
}

#mainNav .navbar-nav li.nav-item a.nav-link.active {
  color: #ff9f6c;
}

#mainNav .navbar-toggler {
  font-size: 80%;
  padding: 0.8rem;
}

#mainNav .navbar-collapse {
  position: static;
  left: auto;
  right: auto;
  top: auto;
  bottom: auto;
  background-color: transparent;
}

@media (max-width: 767px) {
  #mainNav .navbar-collapse {
    position: absolute;
    top: 56px;
    left: 0;
    right: 0;
    bottom: calc(-100vh + 56px);
    background-color: #241332;
  }
}

@media (min-width: 768px) {
  #mainNav {
    padding-top: 34px;
  }
  #mainNav .navbar-nav {
    margin-top: 0;
  }
  #mainNav .navbar-nav > li.nav-item > a.nav-link.active {
    color: #fff;
    background: #241333;
  }
  #mainNav .navbar-nav > li.nav-item > a.nav-link.active:active, #mainNav .navbar-nav > li.nav-item > a.nav-link.active:focus, #mainNav .navbar-nav > li.nav-item > a.nav-link.active:hover {
    color: #fff;
    background: #241333;
  }
}

@media (max-width: 767px) {
  .headerbg {
    max-width: 200%;
    width: 200%;
    margin-left: -50%;
    margin-right: -50%;
    margin-top: -40%;
  }
}

@media (min-width: 768px) {
  .headerbg {
    margin-top: -70px;
  }
}

.about {
  margin-top: -190px;
}

.members p {
  font-family: 'Anton';
  font-size: 20px;
  text-transform: uppercase;
  -webkit-text-stroke: 1px #241332;
}

.concerts-list {
  list-style: none;
  padding: 0;
}

.concerts-list > li {
  margin-bottom: 20px;
}

.concerts-table {
  background-color: #ff9f6c;
  border: 1px solid white;
  display: flex;
  flex-direction: column;
  font-family: 'Anton';
}

.concerts-table__title {
  border-bottom: 1px solid white;
  padding: 12px;
}

.concerts-table__content {
  display: flex;
  flex-direction: column;
}

@media (min-width: 768px) {
  .concerts-table__content {
    flex-direction: row;
  }
}

.concerts-table__content p {
  margin: 0;
}

.concerts-table__content > *:not(:first-child) {
  border-left: 1px solid white;
}

.concerts-table__place {
  font-size: 36px;
  line-height: 1;
}

.concerts-table__caption {
  font-size: 15px;
}

.concerts-table__data a {
  color: #b76fad;
}

.concerts-table__data a:hover, .concerts-table__data a:focus {
  color: #b76fad;
}

.concerts-table__section-35 {
  width: 100%;
  padding: 12px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

@media (min-width: 768px) {
  .concerts-table__section-35 {
    width: 35%;
  }
}

.concerts-table__section-30 {
  display: flex;
  flex-direction: row;
  border-bottom: 1px solid white;
  border-top: 1px solid white;
}

@media (min-width: 768px) {
  .concerts-table__section-30 {
    width: 30%;
  }
}

.concerts-table__section-15 {
  width: 50%;
  padding: 12px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

@media (min-width: 768px) {
  .concerts-table__section-15 {
    text-align: center;
  }
}

.concerts-table__section-15 + div {
  border-left: 1px solid white;
}

.footer {
  padding: 20px 0;
}

.footer-content {
  border: 10px solid #241333;
  background-color: #291936;
  padding: 12px 12px 0;
}

.footer-content .row > div {
  display: flex;
  align-items: center;
  margin-bottom: 12px;
}

.copyright {
  background-color: #291936;
  color: #b16d7a;
}

@media (max-width: 767px) {
  .media h3 {
    margin-bottom: 40px;
  }
}

.portfolio-box img {
  margin-bottom: 20px;
}

.logo {
  margin: 40px auto;
}

.media-box {
  border: 1px solid #241333;
  background-color: #291936;
  padding: 20px 0 20px 60px;
  background-repeat: no-repeat;
  background-position: 17px center;
  text-align: left;
  margin-bottom: 20px;
}

.media-box.pdf {
  background-image: url("../img/buttons/ico_filePDF.png");
}

.media-box.txt {
  background-image: url("../img/buttons/ico_fileTXT.png");
}

.media-box.png {
  background-image: url("../img/buttons/ico_filePNG.png");
}

.media-box.jpg {
  background-image: url("../img/buttons/ico_fileJPG.png");
}

.media-box a {
  color: #ffffff;
  font-size: .8em;
}

.media-box a:hover, .media-box a:focus, .media-box a:active {
  color: #ffffff;
}

a {
  color: #241333;
}

a:focus, a:hover, a:active {
  color: #0a050e;
}

.btn {
  border-width: 2px;
}

.bg-primary {
  background: url("../img/bg/bg_fiolet.jpg") #241333 no-repeat center !important;
}

.bg-secondary {
  background: url("../img/bg/bg_pom.jpg") #ff9f6c no-repeat center !important;
}

.navbar-nav {
  width: 100%;
}

.nav-item {
  width: 20%;
  text-align: center;
}

@media (max-width: 767px) {
  .nav-item {
    width: 100%;
    text-align: center;
    height: calc((100vh - 56px)/5);
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

.nav-link {
  padding: 0 5px !important;
}

.container {
  padding-left: 20px;
  padding-right: 20px;
}

@media (min-width: 1200px) {
  .container {
    max-width: 960px !important;
  }
}

[class^="col-"] {
  padding-left: 20px;
  padding-right: 20px;
}

.row {
  margin-left: -20px;
  margin-right: -20px;
}
