.concerts-list {
    list-style: none;
    padding: 0;

    & > li {
        margin-bottom: 20px;
    }
}

.concerts-table {
    background-color: #ff9f6c;
    border: 1px solid white;
    display: flex;
    flex-direction: column;
    @include heading-font;

    &__title {
        border-bottom: 1px solid white;
        padding: 12px;
    }

    &__content {
        display: flex;
        flex-direction: column;

        @media (min-width: 768px) {
            flex-direction: row;
        }

        p {
            margin: 0;
        }

        > *:not(:first-child) {
            border-left: 1px solid white;
        }
    }

    &__place {
        font-size: 36px;
        line-height: 1;
    }

    &__caption {
        font-size: 15px;
    }

    &__data {
        a {
            color: #b76fad;

            &:hover, &:focus {
                color: #b76fad;
            }
        }
    }

    &__section-35 {
        width: 100%;
        padding: 12px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        @media (min-width: 768px) {
            width: 35%;
        }
    }

    &__section-30 {
        display: flex;
        flex-direction: row;
        border-bottom: 1px solid white;   
        border-top: 1px solid white;
         
        @media (min-width: 768px) {
            width: 30%;
        }
     }

    &__section-15 {
       width: 50%;
       padding: 12px;
       display: flex;
       flex-direction: column;
       justify-content: space-between;

       @media (min-width: 768px) { 
            text-align: center;
        }

       & + div {
           border-left: 1px solid white;
       }
    }
}
