.footer {
  padding: 20px 0;

  &-content {
    border: 10px solid $primary;
    background-color: $violet2;
    padding: 12px 12px 0;

    .row > div {
      display: flex;
      align-items: center;
      margin-bottom: 12px;
    }
  }
}

.copyright {
  background-color: $violet2;
  color: #b16d7a;
}

.media {
  h3 {
    @media (max-width: 767px) {
      margin-bottom: 40px;
    }
  }
}
