.headerbg {
    @media (max-width: 767px) {      
        max-width: 200%;
        width: 200%;
        margin-left: -50%;
        margin-right: -50%;
        margin-top: -40%;
    }

    @media (min-width: 768px) {      
        margin-top: -70px;
    }
}