// Styling for the navbar
#mainNav {
  position: relative;
  padding-top: 20px;
  padding-bottom: 0;
  @include heading-font;
  font-size: 24px;
  -webkit-text-stroke: 2px #241332;
  display: flex;

  .navbar-nav {
    li.nav-item {
      a.nav-link {
        color: $white;
        &:hover {
          color: $secondary;
        }
        &:active,
        &:focus {
          color: $white;
        }
        &.active {
          color: $secondary;
        }
      }
    }
  }
  .navbar-toggler {
    font-size: 80%;
    padding: 0.8rem;
  }

  .navbar-collapse {
    @media (max-width: 767px) {
      position: absolute;
      top: 56px;
      left: 0;
      right: 0;
      bottom: calc(-100vh + 56px);
      background-color: #241332;
    }

      position: static;
      left: auto;
      right: auto;
      top: auto;
      bottom: auto;
      background-color: transparent;
  }
}
@media(min-width:768px) {
  #mainNav {
    padding-top: 34px;
    .navbar-nav {
      margin-top: 0;
    }
    .navbar-nav > li.nav-item > a.nav-link.active {
      color: $white;
      background: $primary;
      &:active,
      &:focus,
      &:hover {
        color: $white;
        background: $primary;
      }
    }
  }
}
