.portfolio-box {
    img {
        margin-bottom: 20px;
    }
}

.logo {
    margin: 40px auto;
}

.media-box {
    border: 1px solid $primary;
    background-color: $violet2;
    padding: 20px 0 20px 60px;
    background-repeat: no-repeat;
    background-position: 17px center;
    text-align: left;
    margin-bottom: 20px;
    
    &.pdf {
        background-image: url('../img/buttons/ico_filePDF.png');
    }

    &.txt {
        background-image: url('../img/buttons/ico_fileTXT.png');
    }

    &.png {
        background-image: url('../img/buttons/ico_filePNG.png');
    }

    &.jpg {
        background-image: url('../img/buttons/ico_fileJPG.png');
    }

    a {
        color: #ffffff;
        font-size: .8em;

        &:hover, &:focus, &:active {
            color: #ffffff;
        }
    }
}